# Throttling configuration
API_RIO_THROTTLER_SHORT_TTL_MILLISECONDS=1000
API_RIO_THROTTLER_SHORT_LIMIT=5

API_RIO_THROTTLER_MEDIUM_TTL_MILLISECONDS=10000
API_RIO_THROTTLER_MEDIUM_LIMIT=30

API_RIO_THROTTLER_LONG_TTL_MILLISECONDS=60000
API_RIO_THROTTLER_LONG_LIMIT=150