@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts.css');

@layer base {
  :root {
    --app-background: 0 0% 93.9%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 356 54% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 81%;
    --input: 0 0% 97%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --warning-background: 47 58% 94%;
    --warning-foreground: 47 100% 37%;
    --warning-border: 48 57% 84%;

    --a1: 5%;
    --a2: 10%;
    --a3: 15%;
    --a4: 20%;
    --a5: 30%;
    --a6: 40%;
    --a7: 50%;
    --a8: 60%;
    --a9: 70%;
    --a10: 80%;
    --a11: 90%;
    --a12: 95%;

    --color-rio-blue: 246 73% 45%;
    --color-app-bg: #efefef;
    --color-blue: #301fc4;
    --color-light-blue: #4d4dff;
    --color-blue-bg: rgba(0, 0, 225, 0.1);
    --color-blue-bg-hover: rgba(0, 0, 225, 0.25);
    --color-dark-gray: #262626;
    --color-black-25: rgba(0, 0, 0, 0.25);
    --color-black-50: rgba(0, 0, 0, 0.5);
    --color-gray-stroke: #bfbfbf;
    --color-gray-hover: rgba(0, 0, 0, 0.02);
    --color-element-wrapper-bg-light: rgba(0, 0, 0, 0.06);
    --color-element-wrapper-bg-light-hover: rgba(0, 0, 0, 0.12);
    --color-element-wrapper-bg: #e6e6e6;
    --color-yellow: rgba(186, 145, 0, 1);
    --color-yellow-bg-hover: rgba(186, 145, 0, 0.25);
    --color-yellow-bg: rgba(186, 145, 0, 0.1);
    --color-green: rgba(68, 148, 100, 1);
    --color-green-bg: rgba(68, 148, 100, 0.1);
    --color-green-bg-hover: rgba(68, 148, 100, 0.25);

    --font-sans: 'NB International Pro', SFRounded, ui-rounded, 'SF Pro Rounded',
      -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-mono: 'NB International Pro Mono', 'Menlo', monospace;
  }

  .dark {
    --app-background: 0 0% 8%;
    --background: 0 0% 11%;
    --foreground: 0 0% 98%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 356 56% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15.9%;
    --input: 0 0% 13%;
    --ring: 240 4.9% 83.9%;

    --warning-background: 47 28% 13%;
    --warning-foreground: 47 100% 37%;
    --warning-border: 46 60% 16%;
  }

  * {
    @apply m-0 p-0;
    box-sizing: border-box;
  }

  body {
    @apply font-sans m-0;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    font-synthesis-weight: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  .restake-input {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  html,
  body,
  #__next,
  #__next > div {
    @apply h-full text-foreground;
  }
}
